body {
    font-family: Poppins;
}

:root {
    --setxo-color: #ffffff;
    --setxo-profile-bg: #ffffff;
    --setxo-a-color: #5e5e5e;
    --setxo-a-hover-color: #e0204e;
    --setxo-p-color: #959595;
    --setxo-dropdown-item: #f6f6f6;
    --setxo-h: #525252;
    --setxo-nav-item-color: #ffffff;
    --setxo-navbar: rgba(255, 255, 255, 0.85);
    --setxo-navbar-icon: rgba(0, 0, 0, 0.85);
    --setxo-border: rgba(0, 0, 0, .10);
}

[data-theme="dark"] {
    --setxo-color: #000000;
    --setxo-profile-bg: #252525;
    --setxo-a-color: #ededed;
    --setxo-a-hover-color: #ff2459;
    --setxo-p-color: #9b9b9b;
    --setxo-dropdown-item: #252525;
    --setxo-h: #d8d8d8;
    --setxo-nav-item-color: rgba(255, 255, 255, .20);
    --setxo-navbar: rgba(0, 0, 0, 0.6);
    --setxo-navbar-icon: rgba(255, 255, 255, 0.85);
    --setxo-border: rgba(255, 255, 255, .20);
}
a {
    text-decoration: none;
    color: var(--setxo-a-color);
    transition: all 0.5s;
}
a:hover {
    text-decoration: none;
    color: var(--setxo-a-hover-color);
}
p {
    color: var(--setxo-p-color);
    line-height: 1.8rem!important;
}
ul {
    padding-left: 0;
}
.logo {
    display: block;
    margin: 50px 0 70px 0;
}
.logo svg {
    display: block;
    height: 80px;

}
.card {
    box-shadow: 0 22px 49px 0 rgba(126, 139, 172, .25) !important;
    border-radius: 20px;
    border: none;
}
.navbar-holder {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*margin-top: -100px;*/
}
.navbar {
    bottom: 50px;
    right: 10%;
    left: 10%;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--setxo-navbar) !important;
    box-shadow: 0 22px 49px 0 rgba(126, 139, 172, .25) !important;
}

.navbar-brand svg {
    height: 40px;
    vertical-align: text-top !important;
}

.dropdown-divider {
    border-top: 1px solid var(--setxo-border) !important;
}

.border-bottom {
    border-color: var(--setxo-border) !important;
}

.dropdown-menu {
    background-color: var(--setxo-color);
}

.dropdown-item {
    color: var(--setxo-a-color);
    transition: all 0.5s;
}

.dropdown-item:hover {
    color: var(--setxo-a-hover-color);
    background-color: var(--setxo-dropdown-item);
}

.MainBg {
    position: relative;
    height: 100vh;
    width: 100%;
    /*cursor: pointer;*/
    background-position: center center;
    background-size: cover;
}

/*.update_avatar {*/
/*    right: 20px;*/
/*    top: 20px;*/
/*    position: absolute;*/
/*    z-index: 4;*/
/*}*/
/*#MainBg {*/
/*    position: absolute;*/
/*    top: -1000px;*/
/*    right: 0;*/
/*}*/
.logo {
    height: 40px;
}

.Avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.Profile {
    margin-bottom: 100px;
    background-color: var(--setxo-profile-bg);
}
.Profile h3 {
    font-size: 18px;
    line-height: normal;
}
.ProfileAvatar img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 50px 0 20px 0;
    /*cursor: pointer;*/
}
.settingProfileAvatar img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /*cursor: pointer;*/
}
.search-form-control {
    border-radius: 10px !important;
    /*max-width: 200px;*/
    /*width: auto;*/
    background-color: var(--setxo-dropdown-item);
    border: none;
    padding-left: 30px !important;
}
.search-form-control:focus {
    background-color: var(--setxo-border);
    border: none;
}
.form-check-input:checked[type="checkbox"] {
    background-color: #e0204e;
    border-color: #e0204e;
}
.form-select {
    border-radius: 10px !important;
}

.search-icon {
    /*width: 50px;*/
    display: inline-block;
    position: absolute;
    margin: 5px 0 0 8px;
    opacity: .5;
}

.search-icon svg {
    height: 15px;
}

.dropup .dropdown-menu[data-bs-popper] {
    border-radius: 10px;
    border: none;
    box-shadow: 0 22px 49px 0 rgba(126, 139, 172, .25) !important;
}

.nav-item {
    width: 40px;
    height: 40px;
    transition: all 0.2s;
    color: rgba(0, 0, 0, .55);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

/*.nav-item.active {*/
/*    color: rgba(0, 0, 0, .9);*/
/*    !*background-color: #ed2252;*!*/
/*    border-radius: 50%;*/
/*}*/

.nav-item:hover {
    transform: scale(1.2);
    background-color: var(--setxo-nav-item-color);
}

.icon svg {
    height: 20px;
    width: 20px;
    fill: var(--setxo-navbar-icon);
    /*opacity: 0.7;*/
    transition: all 0.2s;
    margin: 0;
}
.navbar-toggler {
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler-icon {
    height: 20px;
    /*width: 20px;*/
    background: none !important;
    color: var(--setxo-a-color);
}
/*.nav-link:hover .icon {*/
/*    opacity: 1;*/
/*}*/
.form-control {
    min-height: 40px;
    border-radius: 10px;
    /* box-shadow: 0 1px 5px var(--form-control-shadow) !important; */
    transition: all 0.2s;
    color: var(--setxo-p-color);
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #a1a1a1;
    /*box-shadow: 0 0 0 0.2rem rgba(213, 213, 215, 0.25);*/
}
.form-control:before {
    border-color: #a1a1a1;
    /*box-shadow: 0 0 0 0.2rem rgba(213, 213, 215, 0.25);*/
}

::placeholder {
    font-size: 14px !important;
    color: var(--setxo-p-color) !important;
}

::-ms-input-placeholder {
    font-size: 14px !important;
    color: var(--setxo-p-color) !important;
}

::-ms-input-placeholder {
    font-size: 14px !important;
    color: var(--setxo-p-color) !important;
}
.modal-content {
    background-color: var(--setxo-color);
}

.modal-header {
    border: none;
}
.modal-content .icon {
    display: inline-block;
}
.modal-content .icon svg {
    height: 60px;
    width: 60px;
    margin: 30px;
}

.pointer {
    cursor: pointer;
}

.btn {
    border-radius: 15px;
    transition: all 0.3s;
}

.btn-primary {
    background-color: #ed2252 !important;
    border-color: #ed2252 !important;
}

.btn-primary:hover {
    background-color: #e0204e !important;
    border-color: #e0204e !important;
}
.btn-outline-primary {
    background-color: #ffc7ef !important;
    border-color: #cdcdcd !important;
}

.btn-outline-primary:hover {
    background-color: #e0204e !important;
    border-color: #e0204e !important;
}

.form-control {
    border-radius: 10px;
}

.modal-content {
    border-radius: 20px;
}

.add-content-holder {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    animation: pulse 1s ease-out infinite;
    background-color: var(--setxo-navbar);
    border-radius: 50%;
}

.add-content {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    /*border: 15px solid rgba(255,255,255,0.5) !important;*/
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    animation: border 5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.7;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.add-content .btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.add-content .btn .bi-plus {
    font-size: 3.5rem;
}

.offcanvas {
    width: 300px;
    /* background-color: var(--setxo-color); */
    background-color: #ffffff4f;
}

.settings p {
    font-size: 0.85rem !important;
    margin-bottom: 5px;
    line-height: 1.7 !important;
    color: var(--setxo-a-color);
}

h1 , h2 , h3 , h4 ,h5, h6 {
    color: var(--setxo-h);
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

label {
    font-size: 0.85rem !important;
    color: var(--setxo-a-color) !important;
    padding-top: 2px;
}

.themeSwitch {
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #e0204e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.btn-close {
    background-image: none;
    height: 30px;
    width: 30px;
    background-color: var(--setxo-border);
    border-radius: 50%;
}

.btn-close .bi-x-lg {
    color: var(--setxo-h) !important;
    font-size: 1.3rem;
}

.author img {
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.CardImg img {
    width: 100%;
    min-height: 120px;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    border-radius: 10px;
}
/*.home-icon {*/
/*    display: none;*/
/*}*/

@media (max-width: 998px) {
    .navbar-collapse {
        text-align: center;
        margin-top: 10px;
    }
    /*.btn-sign {*/
    /*    display: block;*/
    /*    margin-bottom: 10px;*/
    /*}*/
}
@media (max-width: 768px) {
    .nav {
        padding-left: unset !important;
        justify-items: center !important;
        justify-content: center !important;
    }
    .modal-content .icon svg {
        margin: 15px;
    }
    .nav-item {
        width: 35px;
        height: 35px;
        transition: all 0.2s;
        color: rgba(0, 0, 0, .55);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 5px;
    }
    .nav-item svg {
        height: 20px;
        width: 20px;
    }
    .navbar-brand svg {
        height: 30px;
    }
    /*.home-icon {*/
    /*    display: inline-block;*/
    /*}*/
}

@media (max-width: 576px) {
    .nav-item {
        width: 30px;
        height: 30px;
    }
    .nav-item svg {
        height: 15px;
        width: 15px;
    }
}
